<div class="container mt-5">
    <form method="get" action="" class="row">
        <div class="form-group col-lg-6">
            <label for="firstName">Nom</label>
            <input id="firstName" class="form-control" type="text" name="">
        </div>
        <div class="form-group col-lg-6">
             <label for="lastName">Prénom</label>
             <input id="lastName" class="form-control" type="text" name="">
         </div>  
         <div class="form-group col-lg-6">
             <label for="email">E-mail</label>
             <input id="email" class="form-control" type="email" name="">
         </div> 
         <div class="form-group col-lg-6">
             <label for="phone">Tél</label>
             <input id="phone" class="form-control" type="phone" name="">
         </div> 
         <div class="form-group col-lg-4">
            <button class="btn btn-primary w-100" type="button">Valide</button>
         </div>
     </form>  
</div>

