    <section>
        <div class="container">
            <div class="row justify-content-center mt-md-3 mb-md-5">
                <div class="col-lg-12 text-center">
                    <h2 class="sub-title">Hello!</h2>
                    <h1 class="title">  I'm Meriem Touzi</h1>
                </div>
            </div>
            <div class="row justify-content-center my-md-5">
                <div class="col-lg-5">
                    <img src="/assets/img/dev.jpg">
                </div>
                <div class="col-lg-5">
                    <h2 class="title-main mt-2">Front End
                        Developer</h2>
                    <p>I have a licence in development web and mobile
                        <br>& experience 2 year.</p>
                    <a href="" class="link-btn"><span class="bg-gray ">C</span>ontact us<img src="assets/img/arrow-right.png" class="img-icon"></a>
                </div>
            </div>
        </div>
    </section>
